body {
  font-family: "Raleway", sans-serif;
}
.icon-perfil {
  width: 48px;
}


/* Hero Section */
.col {
  display: flex;
  align-items: stretch ;
}
#Hero-Section {
  background-image: url("../img/img1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* PORTAFOLIO */

.columna {
 
  display: flex;
  flex-direction: column;
  transition-delay: 1s;
  transition-property: margin
}


.fa-html5 {
  color: orangered;
}

.fa-css3-alt {
  color: #0059d7;
}

.fa-bootstrap {
  color: #5d0dce;
}

.fa-git-alt{
  color: #E44D30;
}

.fa-github {
  color: black;
}

/* Navbar */

.nav-link{
  text-transform: uppercase;
}

.icon-perfil {
  width: 88px;
}


/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */

#linkedin{
  color:#0072b1;
}
#github{
  color:#333;
}
#mail{
  color:#2965f1;}

footer p {
  font-family: 'raleway';
  font-size: 20px;
  font-weight: lighter
}